@page
@model Booking.WebUI.Pages.Account.ForgotPasswordModel
@{
    ViewData["Title"] = "Zapomniałeś hasła?";
}

<section class="identity">
    <partial name="_MessagePartial" for="StatusMessage" />
    <h2 class="text-center">Resetuj hasło</h2>
    <hr />
    <form method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <button type="submit" class="w-100 btn btn-lg btn-dark mt-2">Resetuj hasło</button>
    </form>
</section>

@section Scripts {
    <partial name="_ValidationPartial" />
}